@import url(https://fonts.googleapis.com/css?family=Product+Sans:100,300,400,500,700,800,100i,300i,400i,500i,700i,800i);

/* CSS Variaveis */

:root {

    --primaria: #0b3c5d;
    --links: #4db1f0;
    --detalhes: #d9b310;
    --fundo: #1e2631;

    --claro: #fff;
    --claro-link: rgb(196, 196, 196);
    --escuro: #333;
    --preto: #000000;
    --escuro-claro: rgb(73, 73, 73);
    --cinza: #eeeeee;
    --cinza-escuro: #d7d7d7;
    --sombra:  inset -22px -200px 165px 165px rgba(0,0,0,0.45);
    --sombra-escura:  inset -22px -200px 165px 165px rgba(0,0,0,0.55);
    --sombra-externa: 0px 2px 16px 2px rgba(0,0,0,0.10);

    --arredondado: 0.3rem;
}

/* Css Base */

* {
    padding:0;
    margin:0;
    text-decoration: none;
}

*:focus {
    outline: none;
}

a {
    color: var(--preto);
    transition: 0.5s;
}

a:hover {
    color: var(--escuro-claro);
}

p {
    padding: 0.7rem 0rem;
    line-height: 1.4;
}

html {
    box-sizing: border-box;
    font-family:'Product Sans',sans-serif;
    color: var(--dark);
}

body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
}

img {
    max-width:100%;
}

.escuro {
    background: var(--fundo);
    color: #fff;
}

.escuro a{
    color: var(--claro);
    transition: 0.5s;
}

.escuro a:hover {
    color: var(--claro-link);
}

.escuro-player {
    background-color: var(--fundo);
    color: #fff;
    background-image:url('http://200.209.173.68/sba/imgs/gado-blur.png');
    background-size: cover;
    background-position: center center;
}

.escuro-player  a{
    color: var(--claro);
    transition: 0.5s;
}

.escuro-player  a:hover {
    color: var(--claro-link);
}

/* Animações */

@keyframes load {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes load-barra {
    0% {
        margin-top:-20px;
    }
    100% {
        margin-top:0;
    }
}

@keyframes load-barra2 {
    0% {
        margin-top:-20px;
    }
    100% {
        margin-top:0;
    }
}

@keyframes load-player {
    0% {
        bottom:450px;
        right: 150px;
        opacity:0;
    }
    100% {
        bottom:0;
        opacity:1;
    }
}

.animacao-entra {
    animation-name: load-barra;
    animation-duration: 0.8s;
    transition: all 0.8s ease-in-out;
}

.animacao-sai {
    animation-name: load-barra2;
    animation-duration: 0.8s;
    transition: all 0.8s ease-in-out;
}

/* Containers */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container900 {
    max-width: 960px;
    margin: 0 auto;
}

.container-pagina {
    max-width: 1164px;
    margin: 0 auto;
    padding-top: 1rem;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

.container-noticia {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 1rem;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}


/* Blocos */

.bloco {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    padding: 1rem 0rem;
    align-items: start;
}

.bloco-destaques {
    display:grid;
    grid-template-areas: 
        'player'
        'slides'
    ;
    grid-gap: 1rem;
    padding: 1rem 0rem;
    align-items: start;
}

/* Barra Rede SBA */

.barra-sba {
    background: var(--fundo);;
    padding: 0.69rem;
    font-size:0.97rem;
    font-weight: 600;
    color: #415780;
}

.barra-sba li {
    display: inline;
    padding:12px;
    border-top: 5px solid #000;
    transition: 0.4s;
}

.barra-sba li:hover {
    -webkit-box-shadow: inset 0px -37px 0px -35px #415780;
    -moz-box-shadow: inset 0px -37px 0px -35px  #415780;
    box-shadow: inset 0px -35px 0px -33px  var(--links);
}

.barra-sba li:nth-child(2):hover {
    -webkit-box-shadow: inset 0px -37px 0px -35px #000;
    -moz-box-shadow: inset 0px -37px 0px -35px  #000;
    box-shadow: inset 0px -35px 0px -33px  var(--links);
}

.barra-sba li:nth-child(3):hover {
    -webkit-box-shadow: inset 0px -37px 0px -35px #28a841;
    -moz-box-shadow: inset 0px -37px 0px -35px  #28a841;
    box-shadow: inset 0px -35px 0px -33px  var(--links);
}

.barra-sba li:nth-child(4):hover {
    -webkit-box-shadow: inset 0px -37px 0px -35px #2f20ff;
    -moz-box-shadow: inset 0px -37px 0px -35px  #1115ff;
    box-shadow: inset 0px -35px 0px -33px  var(--links);
}

.barra-sba li a {
    color: #ffffff;
    transition-duration: 0.4s;
    animation-name: load;
    animation-duration: 0.6s;
}

.barra-sba li a:hover {
    color: var(--links);
}

@media(max-width:700px) {

    .barra-sba {
        font-size:0.81rem;
        color: #415780;
    }

    .barra-sba li {
        padding:0.78rem;
        transition: 0.4s;
    }
}

@media(max-width:400px) {

    .barra-sba {
        font-size:0.71rem;
        color: #415780;
    }

    .barra-sba li {
        padding:0.72rem;
        transition: 0.4s;
    }
}

/* Menu */

.fixar-menu {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    animation-name: load-barra;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    padding:0;
    margin:0;
}

.menu-fluido {
    background: #252e3b;
    color: #fff;
}

.menu-fluido .menu-principal {
    display:grid;
    grid-template-areas:
     'dropdown logo logo logo logo logo logo logo logo logo logo pesquisar'
     'menu-dropdown menu-dropdown menu-dropdown menu-dropdown menu-dropdown menu-dropdown menu-dropdown menu-dropdown menu-dropdown menu-dropdown menu-dropdown menu-dropdown'
}

.menu-fluido .menu-principal .dropdown {
    grid-area: dropdown;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: left;
    font-size:1.4rem;
    cursor: pointer;
    padding-left:1rem;
    transition: 0.7s;
}

.menu-fluido .menu-principal .dropdown:hover {
    color: rgb(219, 219, 219);
}

.menu-fluido .menu-principal .dropdown i div {
    font-family:'Product Sans',sans-serif;
    font-size: 0.9rem;
    position: absolute;
    margin-top: -1.17rem;
    margin-left: 1.8rem;
}

.menu-fluido .menu-principal .logo {
    grid-area: logo;
    justify-content: center;
    align-items: start;
}

.menu-fluido .menu-principal .logo img {
    width:100px;
    padding: 0.6rem;
    opacity:1;
    transition-duration: 0.2s;
}

.menu-fluido .menu-principal .logo-mobile {
    grid-area: logo;
    justify-content: center;
    align-items: start;
}

.menu-fluido .menu-principal .logo-mobile img {
    width:70px;
    padding: 0.8rem;
    opacity:1;
    transition-duration: 0.2s;
    visibility: visible;
}

.menu-fluido .menu-principal .logo img:hover {
    opacity:0.4;
}

.menu-fluido .menu-principal .pesquisar {
    grid-area: pesquisar;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    font-size:1.4rem;
    padding-right:1.2rem;
    cursor: pointer;
    transition: 0.7s;
}

.menu-fluido .menu-principal .pesquisar {
    color: rgb(236, 236, 236);
}

@media(max-width:500px) {

    .menu-fluido {
        padding: 0rem 0.5rem;
    }

    .menu-fluido .menu-principal .dropdown {
        font-size:1.2rem;
    }

    .menu-fluido .menu-principal .logo img {
        width:48px;
        padding: 0.6rem;
    }

    .menu-fluido .menu-principal .pesquisar {
        font-size:1.2rem;
    }

}

/* Menu Dropdown */

#menu-dropdown {
    display: none;
    grid-area: menu-dropdown;
    background: var(--fundo);
}

@media(max-width:500px) {
    #menu-dropdown {
        animation-name: load-barra2;
        animation-duration: 0.7s;
    }
}

/* Menu Desktop */

#menu-dropdown .menu {
    width:1164px;
    margin: 0 auto;
    font-size:0.88rem;
    font-weight: 600;
    color: #fff;
    animation-name: load-barra;
    animation-duration: 1s;
}

#menu-dropdown ul {
    padding: 0.89rem;
}

#menu-dropdown ul li {
    display: inline-block;
    padding-right: 2rem;
}

#menu-dropdown ul li a {
    color: #fff;
    transition-duration: 0.4s;
    animation-name: load-mobile;
    animation-duration: 0.6s;
}

#menu-dropdown ul li a:hover {
    color:#415780;
}

/* Menu Mobile */

@media(max-width:500px) {
    #menu-dropdown .menu {
        z-index: 9999;
        width:100%;
        height:100%;
        position: fixed;
        background-color: var(--fundo);
        left:0;
        transition: 0.5s;
    }

    #menu-dropdown ul li {
        display: block;
        font-size: 1.2rem;
        padding:1.2rem;
        transition: 0.5s;
    }

    #menu-dropdown ul li:hover {
        background: var(--primaria);
        color:#fff;
    }

    #menu-dropdown ul li a {
        color: #fff;
    }

}

/* Menu Pesquisar */

#drop-pesquisar {
    display: none;
    animation-name: load-barra;
    animation-duration: 0.8s;
    text-align: right;
    padding: 0.5rem;
}

#drop-pesquisar .pesquisar {
    cursor: pointer;
    padding: 0.5rem;
    width:30%;
    border-radius: var(--arredondado);
    border: none;
    margin: 0rem 0rem;
    transition: 0.8s;
}

@media(max-width:500px) {
    #drop-pesquisar .pesquisar {
        width:100%
    }
}

#drop-pesquisar .pesquisar:hover {
    color:rgb(19, 14, 14);
}

/* Destaques */

@media(min-width:501px) {
    .destaques {
        grid-column: 1/13;
        height:450px;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 1rem 1rem;
    }

    .destaques .noticia h1 {
        font-size:1.25rem;
        font-weight: 800;
    }
    
    .destaques .noticia p {
        font-size: 0.68rem;
        text-transform: uppercase;
    }
    
    .destaques .noticia:nth-child(1) {
        grid-column: 1/3;
        grid-row: 1/5;
        padding: 1rem;
        color: var(--claro);
        box-shadow: var(--sombra);
    }

    .destaques .noticia:nth-child(1) h1 {
        font-size:1.85rem;
        font-weight: 800;
    }
    
    .destaques .noticia:nth-child(2) {
        grid-column: 3/5;
        grid-row: 1/3;
        box-shadow: var(--sombra);
    }

    .destaques .noticia:nth-child(3) {
        grid-column: 3/5;
        grid-row: 3/5;
        box-shadow: var(--sombra);
    }
}

@media(max-width:500px) {

    .destaques {
        grid-area: slides;
        display:grid;
        grid-template-columns: 1fr;
        height:auto;
    }

    .destaques .noticia {
        height: 270px;
        margin: 0.5rem 0.8rem;
    }

    .destaques .noticia:nth-child(1) {
        padding: 1rem;
        color: var(--claro);
        box-shadow: var(--sombra);
    }

    .destaques .noticia:nth-child(2) {
        box-shadow: var(--sombra);
    }

    .destaques .noticia:nth-child(3) {
        box-shadow: var(--sombra);
    }
}

.destaques .noticia {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    color: var(--claro);
    background-position: center center;
    background-size: cover;
    transition: 0.5s all ease-in-out;
}

/* Ao Vivo */

.aovivo {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    padding: 1.3rem 0rem;
}

.aovivo .player {
    grid-column: 1/9;
}

@media(max-width:500px) {
    .aovivo {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1rem;
        padding: 0rem 0rem;
    }
    .aovivo .player {
        grid-column: 1/13;
    }
}

.aovivo .canais {
    grid-column: 9/13;
}

@media(max-width:500px) {
    .aovivo .canais {
        grid-column: 1/13;
        padding: 1rem;
    }
}

.aovivo .canais h3 {
    font-size: 0.8rem;
    font-weight: 600;
    padding-bottom:1rem;;
}

.aovivo .canais .seletor {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.8rem;
}

.active {
    opacity: 0.5;
    transition: 0.8s;
}

.aovivo .canais .seletor .btn {
    cursor: pointer;
}

.aovivo .canais .seletor .btn img {
    border-radius: var(--arredondado);
    transition: 0.8s;
}

.aovivo .canais h1 {
    font-size: 1.8rem;
    padding: 0.9rem 0rem;
    font-weight: 600;
}

.aovivo .canais .agora {
    background: #5e483b;
    padding:0.5rem;
    margin-bottom:0.5rem;
}

.aovivo .canais .agora p {
    padding:0;
    margin:0;
    font-size: 0.8rem;
}

.aovivo .canais .agora h1 {
    padding:0.3rem 0rem 0rem 0rem;
    margin:0;
}

.aovivo .canais .depois {
    background: #222933;
    padding:0.5rem;
    margin-bottom:0.5rem;
}

.aovivo .canais .depois p {
    padding:0;
    margin:0;
    font-size: 0.8rem;
}

.aovivo .canais .depois h1 {
    padding:0.3rem 0rem 0rem 0rem;
    margin:0;
    font-size: 1rem;
}

.aovivo .canais .grade {
    text-align: center;
    padding: 0.4rem;
    font-size: 0.8rem;
    background: #2e3b4c;
}

/*.aovivo {
    grid-column: 9/13;
    background: var(--escuro);
    height: 450px;

    display: grid;
    grid-template-columns: 1fr;
}

@media(max-width:500px) {
    .aovivo {
        grid-area: player;
        height: auto;
        background: var(--escuro);
        display: grid;
        grid-template-columns: 1fr;
    }
}

.aovivo .seletor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align:center;
    color: var(--escuro);
    background-color: #f5f6e6;
    transition: 0.5s;
}

.aovivo .seletor img {
    cursor: pointer;
    height:50px;
    padding: 0.5rem 0rem 0rem 0rem;
}

.aovivo .seletor .ativa {
    background: var(--cinza-escuro);
    transition: 0.5s;
}

.aovivo #canaldoboiaovivo {
    grid-column: 1fr;
    padding: 0rem;
    margin: 0rem 0rem 1rem 0rem;
    z-index: 1;
}

.aovivo .horarios {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top:-15px;
}

.aovivo .horario {
    display: flex;
    flex-direction: column;
    text-align:left;
    justify-content: center;
    grid-column: 1fr;
    padding: 0rem 0rem 0rem 0.7rem;
    margin:1rem;
    color: var(--claro);
    background: rgb(68, 68, 68);
    border-radius: var(--arredondado);
}

.aovivo .horario p {
    font-size: 0.8rem;
    padding:0rem 0rem;
    margin:0;
}

.aovivo .horario h2 {
    font-size: 1rem;
    padding:0rem 0rem;
    margin:0;
}
*/

.fixar-player {
    z-index: 2;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 260px;
    animation: load-player .8s ease-in-out;
    padding:0;
    margin-right:1rem;
}

@media(max-width:500px) {
    .fixar-player {
        width: 170px;
        margin:0;
        margin-bottom:-16px;
        animation-name: load-player;
    }
}

.botao-fechar {
    cursor: pointer;
    display: none;
    flex-direction: column;
    text-align:center;
    justify-content: flex-end;
    background: rgb(0, 0, 0, 0.5);
    color:rgb(255, 255, 255);
    transition: 0.6s;
}

.botao-fechar:hover {
    background: rgb(36, 19, 19);
}

.botao-fechar i {
    padding: 0.5rem;
}

@media(max-width:500px) {
    .botao-fechar i {
        padding: 0.3rem;
    }
}

/* Veja Também */

.veja-tambem {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

@media(max-width:500px) {
    .veja-tambem {
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0rem;
        padding: 0rem 0.8rem;
    }
}

.veja-tambem .titulo {
    grid-column: 1/7;
}

.veja-tambem .titulo h1{
    font-size: 1.3rem;
}

.veja-tambem .titulo p {
    font-size: 0.85rem;
    padding:0.2rem 0 0 0;
}

.veja-tambem .noticia .img {
    width:100%;
    height:190px;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.veja-tambem .noticia .img:hover {
    opacity: 0.8;
}

@media(max-width:500px) {
    .veja-tambem .noticia .img {
        height:150px;
    }

    .veja-tambem .noticia h1 {
        font-size: 1rem;
    }
}

.veja-tambem .noticia h1 {
    font-size: 1.2rem;
    padding: 0.8rem 0rem;
    font-weight: 800;
}

.veja-tambem .noticia:nth-child(2) {
    grid-column: 1/7;
}

.veja-tambem .noticia:nth-child(3) {
    grid-column: 7/13;
}


@media(max-width:500px) {
    .veja-tambem .noticia:nth-child(2) {
        grid-column: 1/7;
    }
    .veja-tambem .noticia:nth-child(3) {
        grid-column: 7/13;
    }
}

/* Cotações */

.cotacoes {
    grid-column: 7/10;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

@media(max-width:500px) {
    .cotacoes {
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1rem;
        padding: 0rem 1rem;
    }
}

.cotacoes .titulo {
    grid-column: 1/7;
}

.cotacoes .titulo h1{
    font-size: 1.3rem;
}

.cotacoes .titulo p {
    font-size: 0.85rem;
    padding:0.2rem 0 0 0;
}

.cotacoes .cotacao {
    grid-column: 1/7;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    background: var(--cinza);
    border-radius: var(--arredondado);
}

.cotacoes .cotacao .item {
    grid-column: 1/7;
    padding: 0.8rem;
}

.cotacoes .cotacao .item h1 {
    font-size: 1.25rem;
}

.cotacoes .cotacao .item h2 {
    font-size: 0.8rem;
    font-weight: 400;
    padding: 0.2rem 0rem;
}

.cotacoes .cotacao .lista {
    background: var(--cinza-escuro);
    grid-column: 1/7;
    padding: 0rem 0.9rem;
}

.cotacoes .cotacao .lista table  {
    width:100%;
}

.cotacoes .cotacao .lista table tr th {
    font-size:0.9rem;
    text-align:left;
    padding:0.5rem 0rem;
}

.cotacoes .cotacao .lista table tr td{
    padding: 0.4rem 0rem;
    text-align:left;
    font-size: 0.9rem;
}

.cotacoes .cotacao .lista table tr:hover {
    background: var(--cinza);
}

.cotacoes .cotacao p {
    grid-column: 1/7;
    font-size: 0.8rem;
    text-align: center;
}

/* Previsão do Tempo */

.previsao-do-tempo   {
    grid-column: 10/13;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

@media(max-width:500px) {
    .previsao-do-tempo   {
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1rem;
        padding: 0rem 1rem;
    }
}

.previsao-do-tempo .titulo {
    grid-column: 1/7;
}

.previsao-do-tempo .titulo h1{
    font-size: 1.3rem;
}

.previsao-do-tempo .titulo p {
    font-size: 0.85rem;
    padding:0.2rem 0 0 0;
}

.previsao-do-tempo .previsao {
    grid-column: 1/7;
    display:grid;
    grid-template-columns: 1fr;
    padding: 0.7rem;
    background: var(--cinza-escuro);
    border-radius: var(--arredondado);
}

.previsao-do-tempo .previsao .local {
    grid-auto-columns: 1fr;
}

.previsao-do-tempo .previsao .local h1 {
    font-size: 1.3rem;
}

.previsao-do-tempo .previsao .local p {
    font-size: 0.8rem;
    padding:0rem 0rem;
}

.previsao-do-tempo .previsao .temperatura {
    grid-auto-columns: 1fr;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0.8rem;

}

.previsao-do-tempo .previsao .temperatura .min p {
    font-size: 0.7rem;
    font-weight: 400;
    text-align: right;
    padding:0rem 1rem 0rem 0rem;
    margin:0;
}

.previsao-do-tempo .previsao .temperatura .min h1 {
    font-size: 3.7rem;
    font-weight: 800;
    margin:0;
    padding:0;
}

.previsao-do-tempo .previsao .temperatura .max p {
    font-size: 0.7rem;
    font-weight: 400;
    text-align: right;
    padding:0rem 1rem 0rem 0rem;
    margin:0;
}

.previsao-do-tempo .previsao .temperatura .max h1 {
    font-size: 3.7rem;
    font-weight: 800;
    margin:0;
    padding:0;
}

.previsao-do-tempo .previsao .temperatura .umidade p {
    font-size: 0.7rem;
    font-weight: 400;
    text-align: right;
    padding:0rem 1rem 0rem 0rem;
    margin:0;
}

.previsao-do-tempo .previsao .temperatura .umidade h1 {
    font-size: 1.5rem;
    font-weight: 800;
    margin:0;
    padding:0;
    text-align:center;
}

.previsao-do-tempo .previsao .temperatura .chuva p {
    font-size: 0.7rem;
    font-weight: 400;
    text-align: right;
    padding:0rem 1rem 0rem 0rem;
    margin:0;
}

.previsao-do-tempo .previsao .temperatura .chuva h1 {
    font-size: 1.5rem;
    font-weight: 800;
    margin:0;
    padding:0;
    text-align:center;
}

.previsao-do-tempo .previsao .temperatura .vento p {
    font-size: 0.7rem;
    font-weight: 400;
    text-align: right;
    padding:0rem 1rem 0rem 0rem;
    margin:0;
}

.previsao-do-tempo .previsao .temperatura .vento h1 {
    font-size: 1.5rem;
    font-weight: 800;
    margin:0;
    padding:0;
    text-align:center;
}

.previsao-do-tempo .previsao h5 {
    font-size: 0.8rem;
    text-align: center;
    padding:0.65rem;
    font-weight: 400;
}

/* Carrousel */

.carrousel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@media(max-width:1165px) {
    .carrousel {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 1rem;
    }
}

.carrousel .titulo {
    grid-column: 1/6;
    padding:1rem 0rem;
}

.carrousel .titulo h1{
    font-size: 1.3rem;
}

.carrousel .titulo p {
    font-size: 0.85rem;
    padding:0.2rem 0 0 0;
}

.carrousel .swiper-container {
    grid-column: 1/6;
    width:100%;
    padding: 0rem 0rem 1rem 0rem;
}

/* Estilização Noticias */

.carrousel .swiper-container .swiper-slide .item .img{
    height:130px;
    background-size: auto 100%;
    background-position: left center;
    transition: 0.5s;
}

.carrousel .swiper-container .swiper-slide .item h1 {
    font-size: 1.11rem;
}

@media(max-width:500px) {
    .carrousel .swiper-container .swiper-slide .item .img{
        height:150px;
    }
    .carrousel .swiper-container .swiper-slide .item h1 {
        font-size: 0.9rem;
    }
}


.carrousel .swiper-container .swiper-slide .noticia .img{
    height:130px;
    background-size: cover;
    background-position: top center;
    transition: 0.5s;
}

.carrousel .swiper-container .swiper-slide .noticia h1 {
    font-size: 1.11rem;
}

@media(max-width:500px) {
    .carrousel .swiper-container .swiper-slide .noticia .img{
        height:150px;
    }
    .carrousel .swiper-container .swiper-slide .noticia h1 {
        font-size: 0.9rem;
    }
}

/* Estilização Leilões */

.carrousel .swiper-container .swiper-slide .leilao {
    height:280px;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: flex-end;
    box-shadow: inset 0px -128px 115px -8px rgba(0,0,0,0.59);
    transition: 0.5s;
}

.carrousel .swiper-container .swiper-slide .leilao:hover {
    opacity:0.8;
}

.carrousel .swiper-container .swiper-slide .leilao h1 {
    color: var(--claro);
    padding: 0.8rem;
    font-size: 1.1rem;
}

.carrousel .swiper-container .swiper-slide .data {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}

.carrousel .swiper-container .swiper-slide .ver {
    background: var(--cinza);
    margin-top: 0.4rem;
    border-radius: var(--arredondado);
    padding: 0.4rem;
    text-align:center;
    font-weight: 800;
    font-size:0.9rem;
    transition: 0.5s;
}

.carrousel .swiper-container .swiper-slide .ver:hover {
    background: var(--cinza-escuro);
}

@media(max-width:500px) {
    .carrousel .swiper-container .swiper-slide .leilao {
        height:240px;
    }
    .carrousel .swiper-container .swiper-slide .leilao h1 {
        font-size: 0.95rem;
    }

    .carrousel .swiper-container .swiper-slide .data {
        font-size: 0.8rem;
    }
}


.carrousel .swiper-container h1 {
    font-size: 1.3rem;
    padding: 0.8rem 0rem;
}

.swiper-pagination {
    color: white;
}

.swiper-button-next {
    background: #000;
    border-radius: 30%;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
}

.swiper-button-prev {
    background: #000;
    border-radius: 30%;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
}

/* Footer */

footer {
    background: var(--fundo);
    color: #fff;
}

footer .footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

footer .footer a {
    color:#fff;
}

footer .footer a:hover {
    color:rgb(214, 214, 214);
}

footer .footer .links {
    padding:1rem;
    grid-column: 1/5;
}

@media(max-width:500px) {
    footer .footer .links {
        grid-column: 1/13;
    }
}

footer .footer .links h1 {
    grid-column: 1/3;
    font-size: 1.3rem;
    padding:0rem 0rem 1rem 0rem;
}

footer .footer .links li{
    list-style-type: none;
    padding:0.5rem 0rem;
    font-size:0.8rem;
    font-weight: 600;
}

footer .footer .categorias {
    padding:1rem;
    grid-column: 5/9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:#fff;
}

@media(max-width:500px) {
    footer .footer .categorias {
        grid-column: 1/13;
    }
}

footer .footer .categorias h1 {
    grid-column: 1/3;
    font-size: 1.3rem;
    padding:0rem 0rem 1rem 0rem;
}

footer .footer .categorias div {
    padding:0.4rem;
    font-size: 0.9rem;
}

footer .footer .sociais {
    padding:1rem;
    grid-column: 9/13;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media(max-width:500px) {
    footer .footer .sociais {
        grid-column: 1/13;
    }
}

footer .footer .sociais h1 {
    grid-column: 1/3;
    font-size: 1.3rem;
    padding:0rem 0rem 1rem 0rem;
}

footer .footer .direitos {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

footer .footer .direitos .logo {
    grid-column: 1/2;
    padding: 1rem;
}

@media(max-width:500px) {
    footer .footer .direitos .logo {
        grid-column: 1/13;
        text-align: center;
        padding: 0rem;
    }
}

footer .footer .direitos .logo img {
    width:100%;
}

@media(max-width:500px) {
    footer .footer .direitos .logo img {
        width:50px;
    }
}

footer .footer .direitos .copyright {
    grid-column: 2/13;
    grid-gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:0.8rem;
    font-weight: 400;
}

@media(max-width:500px) {
    footer .footer .direitos .copyright {
        font-size:0.8rem;
        padding: 1rem 0rem;
    }
}


/* Estilização Páginas */

.titulo {
    grid-column: 1/13;
}

@media(max-width:500px) {
    .titulo {
        grid-column: 1/13;
        padding: 0rem 1rem;
    }
}

/* Pagina Contato */

.contato {
    grid-column: 1/13;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

.contato .sedes {
    grid-column: 1/9;
}

.contato .sedes .sede {
    margin-bottom: 1.5rem;
}

.contato .sedes .sede h3 {
    font-size: 1.3rem;
    font-weight: 800;
    padding: 1rem 0rem;
}

.contato .sedes .sede p {
    padding:0;
}

.contato .formulario {
    grid-column: 9/13;
}

@media(max-width:500px) {
    .contato .sedes {
        grid-column: 1/13;
        padding: 0rem 1rem;
    }
    .contato .formulario {
        grid-column: 1/13;
    }
}

/* Pagina Cadastro */

.cadastro {
    grid-column: 1/13;
}

/* Pagina Notícias */

.noticias {
    grid-column: 1/13;
}

.noticias .noticia {
    display:grid;
    margin-bottom: 1.8rem;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 1rem;
    transition: 0.5s;
    border-radius: var(--arredondado);
}

@media(max-width:500px) {
    .noticias .noticia {
        padding: 1rem;
    }
}

.noticias .noticia:hover {
    color: var(--links);
}

.noticias .noticia .img {
    grid-column: 1/4;
    height:180px;
    background-size: cover;
}

.noticias .noticia .dados {
    grid-column: 4/13;
}

.noticias .noticia .dados h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: rgb(102, 102, 102);
    padding-bottom:0.4rem;
}

.noticias .noticia .dados h1 {
    font-size: 1.8rem;
    font-weight: 800;
}

.noticias .noticia .dados p {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: rgb(102, 102, 102);
    padding-bottom:0.4rem;
}

@media(max-width:500px) {
    .noticias .noticia .img {
        grid-column: 1/5;
        height:110px;
    }
    .noticias .noticia .dados {
        grid-column: 5/13;
    }
    .noticias .noticia .dados h2 {
        font-size: 0.6rem;
        padding-bottom:0rem;
    }
    .noticias .noticia .dados h1 {
        font-size: 1.1rem;
    }
}

/* Paginação */

.paginacao {
    grid-column: 1/13;
    margin: 1rem 0rem 3rem 0rem;
}

@media(max-width:500px) {
    .paginacao {
        margin: 1rem;
    }
}

.pagination li {
    display: inline-block;
    padding-right: 1rem;
}

/* Pagina Notícia */

.noticia {
    grid-column: 1/13;
    display:grid;
    grid-template-columns: 1fr;
}

@media(max-width:500px) {
    .noticia {
        padding: 1rem;
    }
}

.noticia h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.3rem;
}

.noticia h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.noticia h3 {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.noticia p {
    font-size: 1.1rem;
    font-weight: 400;
    float:left;
}

/* Pagina Programas */

.programas {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

@media(max-width:500px) {
    .programas {
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }

}

.programas .programa{
    transition: 0.7s;
}

.programas .programa:hover {
    transform: scale(1.08)
}

/* Pagina Programa */

.programa-pagina {
    grid-column: 1/13;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    margin: 1rem 0rem 2rem 0rem;
}

@media(max-width:500px) {
    .programa-pagina {
        margin: 1rem 0rem 2rem 1rem;
    }
}

.programa-pagina .logo {
    grid-column: 1/3;
}

.programa-pagina .dados {
    grid-column: 3/7;
}

.programa-pagina .dados h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.programa-pagina .dados h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}


.programa-pagina .dados h3 {
    font-size: 0.9rem;
}

.programa-pagina .dados li {
    list-style: none;
    margin-bottom: 0.3rem;
}

/* Página Programação */

.programacao {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.programacao h1 {
    grid-column: 1/13;
}

.programacao .dias {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media(max-width:500px) {
    .programacao .dias {
        grid-template-columns: 1fr;
    }
}

.programacao h1 {
    font-size: 2rem;
    padding: 1rem 0rem;
}

.programacao h3 {
    font-size: 1.0rem;
    margin-bottom: 0.7rem;
}

@media(max-width:500px) {
    .programacao h1 {
        padding: 1rem 1rem;
    }
    .programacao h3 {
        font-size: 1.4rem;
        padding: 1rem;
    }
}

.programacao .horario {
    background: #1a212b;
    padding: 1rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    border-radius: var(--arredondado);
}

.programacao .horario p {
    padding:0;
    margin:0;
    font-size: 0.8rem;
}

.programacao .horario h2 {
    padding:0;
    margin:0;
}

/* Página Leilões */

.container-pagina .leiloes {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 2rem 0rem;
}

@media(max-width:500px) {

    .container-pagina .leiloes {
        grid-template-columns: 1fr 1fr;
        margin: 0rem 1rem;
        grid-gap: 1rem;
    }

}

.container-pagina .leiloes .folder {
    height:280px;
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: flex-end;
    box-shadow: inset 0px -128px 115px -8px rgba(0,0,0,0.59);
    transition: 0.5s;
}

.container-pagina .leiloes .folder:hover {
    opacity:0.8;
}

.container-pagina .leiloes h1 {
    color: var(--claro);
    padding: 0.8rem;
    font-size: 1.1rem;
}

.container-pagina .leiloes .data {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}

.container-pagina .leiloes .ver {
    background: var(--cinza);
    margin-top: 0.4rem;
    border-radius: var(--arredondado);
    padding: 0.4rem;
    text-align:center;
    font-weight: 800;
    font-size:0.9rem;
    transition: 0.5s;
}

/* Página Leilão */

.pagina-leilao {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
}

.pagina-leilao .nome {
    grid-column: 1/13;
}

.pagina-leilao .nome h1 {
    font-size: 2.6rem;
    font-weight: 800;
    padding-bottom: 0.5rem;
}

@media(max-width:500px) {
    .pagina-leilao .nome h1 {
        font-size: 2rem;
        padding:1rem;
    }
    .pagina-leilao .nome h2 {
        font-size: 0.8rem;
        padding:0rem 1rem;
        font-weight: 800;
    }
}

.pagina-leilao .nome h2 {
    font-size: 1rem;
    font-weight: 800;
}

.pagina-leilao .folder {
    grid-column: 1/5;
    padding-bottom: 1rem;
}

.pagina-leilao .dados {
    grid-column: 5/13;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

@media(max-width:500px) {
    .pagina-leilao .folder {
        grid-column: 1/13;
        padding: 1rem;
    }
    .pagina-leilao .dados {
        grid-column: 1/13;
        padding: 1rem;
    }
}

.pagina-leilao .dados .dado {
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.pagina-leilao .dados .dado h1 {
    font-size: 1.4rem;
    font-weight: 400;
}

.pagina-leilao .dados .dado p {
    font-size: 1.6rem;
    font-weight: 800;
}

.pagina-leilao .dados .local {
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:500px) {
    .pagina-leilao .dados .local p{
        font-size: 0.6rem;
    }
}

.pagina-leilao .dados .local h1 {
    font-size: 1.4rem;
    font-weight: 400;
}

.pagina-leilao .dados .local p {
    font-size: 1.1rem;
    font-weight: 800;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
} 
.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lotes {
    padding: 1rem;
}

.lotes h1 {
    font-size: 1.5rem;
    padding: 1rem 0rem;
}

.uteis {
    margin-bottom: 1rem;
}

.uteis h1 {
    font-size: 1.5rem;
    padding: 1rem 0rem;
    font-weight: 600;
}

.uteis h2 {
    font-size: 1.3rem;
    padding: 1rem 0rem;
}

.uteis button {
    cursor: pointer;
    background-color: var(--fundo);
    width: 100%;
    color: #fff;
    padding: 1rem;
    border-radius: var(--arredondado);
}

@media(max-width:500px) {
    .uteis {
        padding: 1rem;
    }
}

/* Páginas Estáticas */

.pagina {
    padding-top: 1rem;
    padding: 1rem;
}

.pagina h1 {
    font-size: 2rem;
    font-weight: 800;
}

.pagina h2 {
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 1.4rem;
}

.pagina h4 {
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 1.4rem;
}

.pagina p {
    font-size: 1rem;
}

.pagina img {
    padding: 1rem;
}

/* Página Parceiros */

.pagina .parceiros {
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
}

.pagina .parceiros .parceiro {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.pagina .parceiros .parceiro .logo {
    grid-column: 1/2;
}

@media(max-width:500px) {
    .pagina .parceiros .parceiro .logo {
        grid-column: 1/7;
    }
}

.pagina .parceiros .parceiro .logo img {
    padding:0;
}

.pagina .parceiros .parceiro .dados {
    grid-column: 2/7;
}

@media(max-width:500px) {
    .pagina .parceiros .parceiro .dados {
        grid-column: 1/7;
    }
}